.wrapper {
	@apply bg-white w-full   rounded-xl   p-3 shadow-base flex cursor-pointer items-center justify-between;

	> img {
		@apply text-shadow;
	}
	> span {
		@apply text-center font-rubik-one text-xl capitalize  text-[#484848];
	}
	> button {
		@apply w-[70px] flex-shrink-0 rounded-lg p-3 px-4 h-[70px] bg-[#87C443];
		box-shadow: inset 0 -3px 4px rgba(0, 0, 0, 0.25);
		> span {
			@apply block  text-shadow text-xl text-white;
			> svg {
				stroke-dasharray: 30px;
				stroke-dashoffset: 30px;
				transform-origin: center;
				animation: draw 0.5s forwards;
			}
		}
		> img {
			@apply shadow-base;
		}
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
