.header {
	@apply pl-2 pr-3 pt-6;
	> div {
		&:first-child {
			@apply flex items-center justify-between;
			> button {
				&:first-child {
					@apply bg-white  justify-center items-center flex w-[50px] h-[50px] rounded-xl;
					> img {
						@apply mt-[10px];
					}
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		}
		&:last-child {
			@apply flex mt-2 justify-between items-center;
			> div {
				@apply bg-white w-[140px] flex justify-evenly h-[30px] items-center rounded-xl shadow-base;
				> img {
					/* @apply drop-shadow-base */
					filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
				}
				&:first-child {
					> span {
						@apply text-[#599939] text-xl;
					}
				}
				&:last-child {
					@apply relative;
					> span {
						@apply text-[#FAA300] text-xl mr-6;
					}
					&::after {
						@apply content-[''] w-[36px] h-[36px] block rounded-full absolute -top-[3px] -right-[3px] bg-[#4BAE4F] bg-no-repeat bg-center;
						background-image: url('../../../assets/images/!.svg');
					}
				}
			}
		}
	}
}
