.circle {
	@apply rounded-full flex items-center justify-center  transition-all absolute top-[48%] left-[43%];
	width: 15px;
	height: 15px;
	transform: rotateX(45deg);
	transform-origin: center;
	&::before {
		@apply content-[''] absolute w-[10px] h-[10px] rounded-full bg-[#919eb8];
	}
}
