@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik One';
	font-weight: 400;
	src:
		url('assets/fonts/RubikOne-Regular.woff2') format('woff2'),
		url('assets/fonts/RubikOne-Regular.woff') format('woff'),
		url('assets/fonts/RubikOne-Regular.eot') format('eot'),
		url('assets/fonts/RubikOne-Regular.ttf') format('ttf'),
		url('assets/fonts/RubikOne-Regular.otf') format('otf');
	font-display: swap;
}
* {
	@apply m-0 p-0;
	box-sizing: border-box;
	user-select: none;
}

body,
html {
	@apply h-full;
	font-family: 'Luckiest Guy', sans-serif;
}

#root {
	@apply h-full;
}

button {
	@apply bg-transparent transition-all block  border-none outline-none cursor-pointer active:scale-95;
}

img {
	pointer-events: none;
}
